@model User

@{
    ViewBag.Title = "Login as Employee";
}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: #f0f0f0; 
    }

    .login-container {
        display: flex;
        justify-content: space-between;
    }

    fieldset {
        width: 700px;
        margin: 20px 0;
        padding: 30px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff; 
    }

    table {
        width: 100%;
    }

    td {
        padding: 10px;
    }

    input[type="submit"] {
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

    button {
        margin-top: 10px;
        padding: 10px;
        background-color: #008CBA;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
            background-color: #0077A3;
    }
</style>

@using (Html.BeginForm("LoginEmployee", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Login As Employee</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @if (ViewBag.Message != null)
        {
            <p style="border: 1px solid red">
                @ViewBag.Message
            </p>
        }

        <table>
            <tr>
                <td>@Html.LabelFor(a => a.Email)</td>
                <td>@Html.TextBoxFor(a => a.Email)</td>
                <td>@Html.ValidationMessageFor(a => a.Email)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(a => a.Password)</td>
                <td>@Html.PasswordFor(a => a.Password)</td>
                <td>@Html.ValidationMessageFor(a => a.Password)</td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" value="Login" /></td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}

<button onclick="location.href='@Url.Action("LoginFarmer", "Home")'">Login as farmer</button>

<button onclick="location.href='@Url.Action("Register", "Home")'" >Register as employee</button>
